.Home{
    background-color: #F0BB75;
    background-size: 100%;
    overflow: hidden;
    background-repeat: no-repeat
}
nav {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 30px;
    height: 50px;
    background-color:#312F2F;
    color: #fff;
    border-radius: 5px;
    box-shadow: #312F2F;
  }
  
  ul {
    list-style: none;
    padding: 0;
    padding-top: 13px;
  }
  
  li {
    display: inline;
    margin-right: 145px;
    margin-left: 30px;
  }
  
  a {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
  }
  #heading{
   color: #312F2F;
   margin-left: 20px;
  }
  .logo{
  width: 130px;
  margin-left: 50px;
  margin-top: 40px;
  }
  #quotes{
    color:#312F2F;
    margin-top: 20px;
  }
  #para{
    margin-top: 30px;
    color:#312F2F
  }
  #imgcenter{
    width: 350px;
  }
  #head{
    font-size: 39px;
    color:#312F2F
  }
.dropdown-menu {
  display: block;
  position: absolute;
  top: 130px;
  left: 1000px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
  border-radius: 5px;
}

.dropdown-menu  {
  display: block;
}
